[workspace]

members = [
    "ci/casper_updater",
    "client",
    "execution_engine",
    "execution_engine_testing/cargo_casper",
    "execution_engine_testing/test_support",
    "execution_engine_testing/tests",
    "node",
    "smart_contracts/contract",
    "smart_contracts/contracts/[!.]*/*",
    "types",
    "utils/global-state-update-gen",
    "utils/transfer-gen",
]

default-members = [
    "ci/casper_updater",
    "client",
    "execution_engine",
    "execution_engine_testing/cargo_casper",
    "execution_engine_testing/test_support",
    "execution_engine_testing/tests",
    "node",
    "smart_contracts/contract",
    "types",
    "utils/global-state-update-gen",
    "utils/transfer-gen",
]

exclude = ["casper-node-macros"]

# Include debug symbols in the release build of `casper-engine-tests` so that `simple-transfer` will yield useful
# perf data.
[profile.release.package.casper-engine-tests]
debug = true

[profile.release]
# TODO: nightly compiler has issues with linking libraries with LTO enabled.
# Change this back to true once stable is supported by default.
lto = false

[profile.bench]
lto = true
