[workspace]
members = [
    "ci/casper_updater",
    "execution_engine",
    "execution_engine_testing/test_support",
    "execution_engine_testing/tests",
    "hashing",
    "json_rpc",
    "node",
    "smart_contracts/contract",
    "smart_contracts/contracts/[!.]*/*",
    "types",
    "utils/global-state-update-gen",
    "utils/validation",
]

default-members = [
    "ci/casper_updater",
    "execution_engine",
    "execution_engine_testing/test_support",
    "execution_engine_testing/tests",
    "hashing",
    "json_rpc",
    "node",
    "types",
    "utils/global-state-update-gen",
    "utils/validation",
]

exclude = ["utils/nctl/remotes/casper-client-rs"]

# Include debug symbols in the release build of `casper-engine-tests` so that `simple-transfer` will yield useful
# perf data.
[profile.release.package.casper-engine-tests]
debug = false

[profile.release]
codegen-units = 128
lto = "off"

[profile.bench]
codegen-units = 128
lto = "off"
