[workspace]

members = [
    "ci/casper_updater",
    "client",
    "execution_engine",
    "execution_engine_testing/cargo_casper",
    "execution_engine_testing/test_support",
    "execution_engine_testing/tests",
    "node",
    "smart_contracts/contract",
    "smart_contracts/contracts/[!.]*/*",
    "types",
    "utils/validation",
    "utils/global-state-update-gen",
    "hashing",
]

default-members = [
    "ci/casper_updater",
    "client",
    "execution_engine",
    "execution_engine_testing/cargo_casper",
    "execution_engine_testing/test_support",
    "execution_engine_testing/tests",
    "node",
    "utils/global-state-update-gen",
    "utils/validation",
    "hashing",
]

# Include debug symbols in the release build of `casper-engine-tests` so that `simple-transfer` will yield useful
# perf data.
[profile.release.package.casper-engine-tests]
debug = true

[profile.bench]
codegen-units = 1
lto = true
