[Unit]
Description=Casper Engine GRPC Server
After=network.target
Before=casper-node.service
BindsTo=casper-node.service

[Service]
ExecStart=/usr/bin/casper-engine-grpc-server -d /var/lib/casper /var/lib/casper/.casper-node.sock
User=casper
Restart=no

[Install]
WantedBy=multi-user.target
