[package]
name = "casper-engine-test-support"
version = "7.0.1" # when updating, also update 'html_root_url' in lib.rs
authors = ["Fraser Hutchison <fraser@casperlabs.io>"]
edition = "2021"
description = "Library to support testing of Wasm smart contracts for use on the Casper network."
documentation = "https://docs.rs/casper-engine-test-support"
readme = "README.md"
homepage = "https://casperlabs.io"
repository = "https://github.com/casper-network/casper-node/tree/master/execution_engine_testing/test_support"
license = "Apache-2.0"

[dependencies]
blake2 = "0.9.0"
casper-storage = { version = "2.0.0", path = "../../storage" }
casper-types = { version = "5.0.0", path = "../../types" }
env_logger = "0.10.0"
casper-execution-engine = { version = "7.0.1", path = "../../execution_engine", features = ["test-support"] }
humantime = "2"
filesize = "0.2.0"
lmdb-rkv = "0.14"
log = "0.4.14"
num-rational = "0.4.0"
num-traits = "0.2.14"
once_cell = "1.8.0"
rand = "0.8.4"
serde = { version = "1", features = ["derive", "rc"] }
tempfile = "3.4.0"
toml = "0.5.6"

[dev-dependencies]
casper-types = { version = "5.0.0", path = "../../types", features = ["std"] }
version-sync = "0.9.3"

[build-dependencies]
toml_edit = "=0.21.0"
humantime = "2"

[features]
use-as-wasm = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
