[Unit]
Description=Casper Node
Documentation=https://docs.casperlabs.io
ConditionPathExists=/etc/casper/config.toml
ConditionPathExists=/etc/casper/accounts.csv
ConditionPathExists=/etc/casper/chainspec.toml
After=network-online.target

[Service]
Type=simple
# Using >> to deal with StandardOutput=file: not handling append.
ExecStart=/usr/bin/casper-node validator /etc/casper/config.toml >>/var/log/casper-node.log
Environment=RUST_LOG=info
Restart=no

[Install]
WantedBy=multi-user.target
