[Unit]
Description=Casper Node
Documentation=https://docs.casperlabs.io
ConditionPathExists=/etc/casper/config.toml
ConditionPathExists=/etc/casper/accounts.csv
ConditionPathExists=/etc/casper/chainspec.toml
After=network-online.target

[Service]
Type=simple
ExecStartPre=/etc/casper/systemd_pre_start.sh
ExecStart=/usr/bin/casper-node validator /etc/casper/config.toml
Environment=RUST_LOG=debug
Restart=no
User=casper
Group=casper

[Install]
WantedBy=multi-user.target
